
#nav{
    display:flex;
    justify-content: space-between;
}

.nav-link ul{
    list-style: none;
    padding-right: 50px;
}

body{
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
}
header{
    margin:0px;
    background-color:black ;
    height: 100vh;
    background-size: cover;
}
.nav-link ul li{
    display: inline-block;
    padding: 30px;
    padding-top: 50px;
    font-size: 1.2rem;

}
.nav-link ul li a{
    text-decoration: none;
    color:#0ef;
}

ul li a:hover{
    text-decoration: underline #0ef 2px;
    color: #0ef;
}
.b ul li a:hover{
    text-decoration: underline #0ef 2px;
    color:#0ef;
}

.name h3{
    font-size: 200%;
    word-spacing: 5px;
    letter-spacing: 1.5px; 
    color:#0ef; 
}
.name{
    padding-left: 200px;
    width: 100%;
}

.info{
    padding-top: 50px;
    padding-left: 100px;
    text-align: justify;
    font-family: Baskerville ;
}

.main-head{
    
    position: absolute;
    top: 40%;
    right: 8%;  
    letter-spacing: 0.5px; 
    display: flex;
    color: white;
}
section
{
    margin: 0;
    background-color: black;
    height: 100vh;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}

.ed{
    margin: 1rem;
    padding: 20px;
}
.ed p{
    padding-top: 20px;
}

.edu-title{
    padding-top: 50px;
    color: #0ef;
}

.edu{
    display: flex;
    padding-top: 100px;
    color: white;;
}

.logo{
    margin-left: 100px;
    margin-top: 25px;
    font-size: 2rem;
    color:#0ef;
    
}

.fas{
    color:#0ef;
    
}

#skill{
  
    color: #0ef;
    background-color:black;

}

#skills{
   
    display:flex;
    
}
.main-skill p{
        text-align: center;
        padding: 10px;
        padding-top: 10px;
}

.main-skill h3{
    padding-top: 50px;
}

.a{
    width: 100%;
    color: white;
    padding-top: 30px;
}

.b ul li a{
    text-decoration: none;
    color:white;
}

#activities ul{
    list-style: none;
}
#activities{
    color: white;
}
#activities h3{
    color:#0ef;

}

#about{
    background-color: black;
    color:white;
}

.personal-info{
    display: flex;
    padding: 15% 0;
}

.personal-info ul{
    list-style: none;
   
}

.personal-info ul li{
    padding: 10px 0;
}

.abt,.per-info{
    width: 100%;
}

.personal-info ul a{
    text-decoration: none;
    color:white;
}

 .personal-info h3{
    color:#0ef;
 }
