#nav{
    display:flex;
    justify-content: space-between;
}

.nav-link ul{
    list-style: none;
    padding-right: 50px;
}

body{
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
}
header{
    margin: 0;
    background-color:black ;
    /*background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img.jpg") no-repeat center; */
    height: 100vh;
    background-size: cover;
}
.nav-link ul li{
    display: inline-block;
    padding: 30px;
    padding-top: 50px;
    font-size: 1.2rem;

}
.nav-link ul li a{
    text-decoration: none;
    color: white;
}

ul li a:hover{
    text-decoration: underline green 2px;
    color: green;
}
.b ul li a:hover{
    text-decoration: underline green 2px;
    color: green;
}

.name h3{
    font-size: 200%;
    word-spacing: 5px;
    letter-spacing: 1.5px; 
    color: green; 
}
.name{
    padding-left: 200px;
    width: 100%;
}
/*.name{
    color: white;;
    position: absolute;
    top: 40%;
    right: 8%;  
    letter-spacing: 0.5px; 
}*/
.info{
    padding-top: 50px;
    padding-left: 50px;
    text-align: justify;
    font-family: Baskerville ;
}

.main-head{
    color: white;;
    position: absolute;
    top: 40%;
    right: 8%;  
    letter-spacing: 0.5px; 
    display: flex;
    color: white;
}
section
{
    margin: 0;
    background-color: white;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.ed{
    margin: 1rem;
    padding: 20px;
}

.edu-title{
    padding-top: 50px;
    color: green;
}

.edu{
    display: flex;
    padding-top: 100px;
}

.logo{
    margin-left: 40px;
    margin-top: 25px;
    font-size: 2rem;
    color: green;
    
}

.fas{
    color: green;
    
}

#skill{
    color: green;
    background-color: black;

}

#skills{
    display:flex;
    
}
.main-skill h4{
        text-align: center;
        padding: 30px;
}

.a{
    width: 100%;
    color: white;
}

.b ul li a{
    text-decoration: none;
    color: black;
}

#activities ul{
    list-style: none;
}

#activities h4{
    color: green;

}

#about{
    background-color: black;
    color: white;
}

.personal-info{
    display: flex;
    padding: 15% 0;
}

.personal-info ul{
    list-style: none;
   
}

.personal-info ul li{
    padding: 10px 0;
}

.abt,.per-info{
    width: 100%;
}

.personal-info ul a{
    text-decoration: none;
    color: white;
}

 .personal-info h4{
    color: green;
 }
